*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "redhat", sans-serif;
}

.logo{
    margin: auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 85px;
}
.homepage{
    position: absolute;
}
.homepage a{
    position: relative;
    border: 1px solid #000;
    border-radius: 60px;
    width: 80px;
    height: 21px;
    box-shadow: rgb(0, 0, 0) 3px 3px 0px 0px;
    top:30px;
    left:15px;
    padding: 12px 16px;
}
.container-one{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 16px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 85px;
}
.container-one img{
    width: 394px;
    height: 303px;
}
.texts-one{
    justify-items: center;
    width: 416px;
    height: 290px;
    padding-top: 40px;
}
.texts-one h1{
    font-weight: 900px;
    font-size: 64px;
    text-align: center;
    font-family: 'redhat-black';
    line-height: 65px;
}
.texts-one h3{
    color: rgb(134, 134, 156);
    font-weight: 500;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
}
button{
    border: none;
    border-radius: 30px;
    padding: 16px 30px;
    font-weight: 900;
    font-size: 16px;
    height: 58px;
}
.buttons{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.buttons :first-child span{
    color: rgb(144, 228, 249);
}
.buttons :first-child{
    background-color: rgb(77, 145, 168);
    color: #fff;
    width: 193px;
}
.buttons button{
    background-color: rgb(132, 94, 176);
    color: #fff;
}
.seprator{
    font-weight: 900;
    font-size: 18px;
    margin: auto;
}
.first-seprator{
    margin-bottom: 60px;
}
.seprator :first-child{
    width: 1px;
    height: 85px;
    background-color: rgba(135, 135, 157, 0.5);
    margin: auto;
}
.seprator :last-child{
    display: flex;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(135, 135, 157, 0.5);
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 18px;
    font-weight: 900;
}
.container-images{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 25px;
    margin-bottom: 70px;
}
.container-images img{
    width: 260px;
    height: 247px;
    border-radius: 8px;
}
.container-texts{
    display: block;
    text-align: center;
}
.container-texts :first-child{
    color: rgb(77, 145, 168);
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.container-texts h2{
    font-size: 40px;
    font-weight: 900;
    width: 560px;
    height: 88px;
    margin: auto;
    line-height: 44px;
    margin-bottom: 24px;
}
.container-texts :last-child{
    font-size: 18px;
    font-weight: 500;
    color:rgb(134, 134, 156);
    width: 560px;
    height: 72px;
    margin: auto;
}
.main-contain{
    position: absolute;
}
.second-seprator{
    position: relative;
    top:35px;
    margin-top: 64px;
}

footer{
    background-image: linear-gradient(hsl(195, 37%, 48%, 0.8),
            hsl(195, 37%, 48%, 0.8)),
            url(./assets/images/image-footer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 99vw;
    padding-top: 11rem;
}
.content-footer{
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}
.content-footer h2{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;
}
.content-footer h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}
.content-footer button{
    font-size: 16px;
}
footer button{
    width: 193px;
    height: 58px;
    background-color: rgb(132, 94, 176);
    color: #fff;
    font-weight: 900;
    font-size: 18px;
}
footer span{
    color:rgb(217, 184, 255);
}

@font-face {
    font-family: 'redhat';
    src: url('assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('woff');
}
@font-face {
    font-family: 'redhat-black';
    src: url('assets/fonts/RedHatDisplay-Black.ttf') format('woff');
}